html, body {
    height: 100%;
}

.heading {
    font-family: 'monospace';
}
.link {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

.hover {

}
.hover:hover {
    opacity: 80%;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.002); }
