html, body {
    height: 100%;
}

pre {
    /* font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" */
}

.heading {
    font-family: 'oswald monospace';
}

.link {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

.hover {

}
.hover:hover {
    opacity: 80%;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.002); }
